<form method="GET" action="/update">
	<input type="hidden" name="id" value="{{id}}">
	<span>name</span><input type="text" name="name" value="{{name}}">
	<span>date</span><input type="date" name="due" value="{{due}}">
	<span>reps</span><input type="text" name="reps" value={{reps}}>
	<span>weight</span><input type="text" name="weight" value={{weight}}>
	<span>lbs</span><input type="text" name="done" value="{{done}}">
	<input type="submit" value="submit">
</form>
